In [1001]:
import pandas as pd
import numpy as np

import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn import metrics

In [1002]:
df = pd.read_csv('data/grades.csv')
df = df.drop(labels = 0, axis = 0)

In [1003]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
#print(df.dtypes)
possible_grades = ['total_enrolled', 'a+', 'a', 'a-', 'b+', 'b', 'b-', 'c+', 'c', 'p', 'c-', 'd', 'f', 'withdrawal', 'inc/no_grade' ]

for i in possible_grades: #converting values from object to integer 
    df[i] = df[i].astype(int)
    
df['class_name'] = df['subject'].astype(str) + df['course_number'].astype(str)

def writing_intensive(class_num):
    if class_num[-1] == 'W':
        return True
    return False

def honors(class_num):
    if class_num[-1] == 'H':
        return True
    return False

def pure_number(class_num):
    if class_num[-1] == 'W' or class_num[-1] == 'H':
        class_num = class_num[:-1]
    return class_num

df['writing_intensive'] = df['course_number'].apply(writing_intensive)
df['honors'] = df['course_number'].apply(honors)
df['class_num'] = df['course_number'].apply(pure_number)


print(df.shape)

(2668, 26)

In [1004]:
def average_calc(df_in):
    score_1 = (df_in['a'] + df_in['a+']) * 4
    score_2 = (df_in['a-']) * 3.7
    score_3 = df_in['b+'] * 3.3
    score_4 = df_in['b'] * 3
    score_5 = df_in['b-'] * 2.7
    score_6 = df_in['c+'] * 2.3
    score_7 = (df_in['c'] + df_in['p']) * 2
    score_8 = df_in['c-'] * 1.7
    score_9 = df_in['d'] * 1
    score_10 = (df_in['f'] + df_in['withdrawal'] + df_in['inc/no_grade']) * 0

    df_in['actual_average'] = (score_1 + score_2 + score_3 + score_4 + score_5 + score_6 + score_7 + score_8 + score_9 + score_10)/df_in['total_enrolled']
    df_in['reasonably_passing'] = np.where(df_in['actual_average'] > 2.5, 1 , 0)

#     save_as = 'data/improved_grades.csv'
#     df.to_csv(save_as, index=False)

#df.describe()
average_calc(df)

save_as = 'data/improved_grades.csv'
df.to_csv(save_as, index=False)

In [1005]:
df.isnull().sum() 
df.duplicated().sum()
#no duplicate or null values 
df.columns

Index(['term', 'subject', 'course_number', 'course_description',
       'class_section', 'instructor', 'total_enrolled', 'a+', 'a', 'a-', 'b+',
       'b', 'b-', 'c+', 'c', 'p', 'c-', 'd', 'f', 'withdrawal', 'inc/no_grade',
       'average_gpa', 'class_name', 'writing_intensive', 'honors', 'class_num',
       'actual_average', 'reasonably_passing'],
      dtype='object')

In [1006]:
df.reasonably_passing.value_counts(normalize = True)

1    0.703523
0    0.296477
Name: reasonably_passing, dtype: float64

In [1007]:
df = pd.get_dummies(df, columns = ['subject'], drop_first = True)

In [1008]:
selected_features = ['class_num', 'total_enrolled', 'writing_intensive', 'honors', 
       'subject_ANTH', 'subject_ARAB', 'subject_ARTH', 'subject_ARTS',
       'subject_ASTR', 'subject_BALA', 'subject_BIOL', 'subject_BUS',
       'subject_CERT', 'subject_CHEM', 'subject_CHIN',
       'subject_CLAS', 'subject_CMAL', 'subject_CMLIT', 'subject_CO-OP',
       'subject_CSCI', 'subject_DANCE', 'subject_DATA', 'subject_DRAM',
       'subject_EAST', 'subject_ECON', 'subject_ECPCE', 'subject_ECPEL',
       'subject_ECPSE', 'subject_ECPSP', 'subject_EECE', 'subject_ENGL',
       'subject_ENSCI', 'subject_EURO', 'subject_FNES', 'subject_FREN',
       'subject_GEOL', 'subject_GERM',  'subject_GRKMD',
       'subject_HEBRW', 'subject_HIST', 'subject_HNRS', 'subject_HTH',
       'subject_ITAL', 'subject_JAZZ', 'subject_JPNS',
       'subject_KOR', 'subject_LABST', 'subject_LBSCI',
       'subject_LCD', 'subject_LIBR', 'subject_MAM', 'subject_MATH',
       'subject_MEDST', 'subject_MES', 'subject_MUSIC', 'subject_PERM',
       'subject_PHIL', 'subject_PHOTO', 'subject_PHYS', 'subject_PORT',
       'subject_PSCI', 'subject_PSYCH', 'subject_QNS', 'subject_RM',
       'subject_RUSS', 'subject_SEEK', 'subject_SEYS', 'subject_SEYSL',
       'subject_SOC', 'subject_SPAN', 'subject_STPER', 'subject_URBST',
       'subject_WGS']

#'subject_AFST', 'subject_CESL', 'subject_JEWST', 'subject_LATIN', 'subject_GREEK',

In [1009]:
X = df[selected_features]
y = df['actual_average']

In [1010]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=45)

In [1011]:
print('Length of our Training data:', X_train.shape[0], '\nLength of our Testing data:', X_test.shape[0])

Length of our Training data: 2134
Length of our Testing data: 534

In [1012]:
model = LinearRegression()

In [1013]:
model.fit(X_train, y_train)

LinearRegression()

In [1014]:
y_pred = model.predict(X_test)
y_pred

array([ 2.98172512,  0.91972032,  2.7021992 ,  3.307342  ,  2.8936277 ,
        2.97257961,  3.52250406,  2.94453386,  2.74656676,  2.89403439,
        2.40355661,  1.52368937,  2.78786056,  1.52156341,  3.34801719,
        3.10044443,  3.01851882,  2.32028723,  3.08955781,  2.9743889 ,
        1.88373657,  2.70345571,  1.87958889,  3.405614  ,  3.40003526,
        2.89374137,  3.66350747,  3.19402092,  2.40273843,  3.00823886,
        2.99178659,  3.08624821,  3.43553852,  3.34160325,  2.94695179,
        2.89053918,  3.39764721,  3.80710814,  1.50871062,  3.13826604,
        2.40256154,  2.40459155,  3.40301493,  3.18855031,  1.50993737,
        3.52547153,  2.94859018,  2.40323616,  1.52123692,  2.40275822,
        2.9489442 ,  1.5233061 ,  3.01372758,  3.01265614,  2.70071114,
        2.8347997 ,  1.42745006,  2.97228479,  2.98227053,  3.19649632,
        2.97246089,  2.73294921,  2.94765975,  2.94503357,  1.88003617,
        2.70096092,  3.54767032,  2.40263524,  2.40478941,  3.00551299,
        2.71271229,  2.97230457,  3.0845332 ,  3.80426856,  3.30866444,
        3.44545924,  3.298707  ,  2.70068671,  2.73460763,  3.33875783,
        2.42070693,  2.63419195,  2.95089546,  2.57398258,  2.74586919,
        3.08646428,  3.08662644,  2.70074567,  2.70061726,  1.88099434,
        1.71365249,  2.74846608,  2.47157598,  1.51777505,  3.44252156,
        1.52130211,  3.34814442,  2.94868509,  2.94489002,  3.1006326 ,
        1.88102887,  3.522686  ,  2.59419703,  3.30872301,  1.5102411 ,
        1.88465635,  2.94688304,  3.51142491,  3.34192448,  3.00551299,
        2.97228479,  1.52264741,  2.94853413,  3.29840635,  2.40293204,
        2.59383662,  2.94811484,  1.50991759,  2.98034915,  1.87960868,
        2.40408105,  3.01966981,  2.57400237,  1.51872124,  3.34009382,
        3.52260299,  1.5196895 ,  3.44166193,  2.972265  ,  2.59269424,
        2.70074102,  3.80351133,  3.30965635,  2.89044568,  2.94860783,
        2.59380596,  3.20009819,  2.8904717 ,  2.74641856,  2.73296396,
        3.80094599,  2.40263524,  2.73296396,  2.97228479,  3.37555873,
        2.31336641,  3.40256607,  1.88373657,  2.69511967,  2.98032937,
        2.40263524,  1.52297211,  3.49505099,  2.98123419,  2.88465067,
        3.33877761,  3.8099872 ,  1.5237053 ,  2.79925749,  3.01900646,
        2.41236244,  2.42244479,  2.70265851,  2.70339635,  3.77128466,
        1.52362615,  3.81000699,  3.85477589,  2.68435465,  3.80426856,
        2.31337146,  2.61475735,  2.97224521,  2.97513367,  3.29866743,
        2.93002646,  2.89023931,  3.33845757,  3.18864924,  3.19985649,
        3.30824625,  3.34177509,  2.97230457,  3.39986925,  2.98917119,
        2.73294921,  3.45444666,  2.97931728,  2.42218608,  3.40260564,
        3.310097  ,  2.97228479,  2.40340336,  3.20447628,  3.01378734,
        2.86410999,  2.89051939,  3.30886538,  3.40611985,  2.93002646,
        2.70359422,  2.40442435,  3.40600153,  2.40457176,  1.88373657,
        3.01970394,  1.50993737,  3.44263524,  2.78786056,  2.94695179,
        2.90836633,  2.78436668,  3.01112346,  2.972265  ,  3.36526769,
        3.52547153,  1.8841978 ,  3.44291067,  2.70071619,  2.97417125,
        2.94790649,  2.98034915,  2.98896828,  2.98450811,  1.52123692,
        2.40338357,  3.10061281,  2.78786056,  1.52297211,  3.51050285,
        3.4002537 ,  3.19867151,  3.44545924,  2.98034915,  3.49355205,
        2.59106363,  2.40263524,  2.972265  ,  1.51966971,  2.73668305,
        2.94444967,  1.52352722,  2.70952594,  3.01341258,  3.52092399,
        1.88005091,  2.94453386,  3.3995488 ,  3.30022068,  2.73298374,
        3.1191648 ,  2.59404962,  2.70060756,  3.11703053,  2.972265  ,
        2.74523138, -0.02306638,  3.99994803,  2.89345791,  3.3085756 ,
        1.8820202 ,  3.80728039,  2.62293562,  2.69909133,  2.94846437,
        3.30774041,  1.87993684,  1.52155152,  1.87807227,  3.23107243,
        3.50785373,  4.16121372,  2.89057875,  3.40600736,  2.98481302,
        1.88240948,  1.51732304,  1.88027321,  3.80859224,  2.40444414,
        3.40620948,  1.87960868,  2.97252025,  3.18838815,  2.73573725,
        2.42058821,  3.80079353,  1.51966971,  3.20425784,  2.59399492,
        2.59412877,  3.30825595,  2.73749846,  3.80823846,  1.88244905,
        3.39970709,  2.42261625,  2.81377597,  2.42058821,  2.40263524,
        2.94448924,  2.89122775,  2.91109887,  2.98204981,  3.32556267,
        2.89361296,  2.68417775,  2.40442435,  2.94618604,  3.08954811,
        3.01364962,  3.19698199,  1.7146902 ,  2.97418094,  2.89053918,
        2.94732773,  3.71770648,  3.37553894,  3.52537725,  2.91401252,
        2.975214  ,  3.34170218,  2.97246089,  2.4028711 ,  2.89025405,
        2.62130942,  3.08564957,  2.972265  ,  2.98308673,  2.94463279,
        1.42746985,  2.73296396,  2.74364846,  2.58165923,  3.34807536,
        3.33996115,  2.98034915,  2.61449122,  2.9467548 ,  1.51797283,
        2.68413353,  0.91754886,  1.88005091,  2.69887817,  3.08637584,
        2.99125126,  3.10036528,  2.9477482 ,  3.08720442,  2.97254003,
        2.89124754,  3.19694241,  2.972265  ,  2.40263524,  2.98241347,
        2.89174431,  2.7027462 ,  3.76608571,  2.59129019,  3.10018721,
        1.9680478 ,  3.30772527,  2.42058198,  2.94464753,  2.97236393,
        2.732969  ,  3.01004113,  2.4033351 ,  2.98786766,  2.73296396,
        2.40301851,  1.52370916,  2.70047951,  2.70227953,  3.19922846,
        2.89555027,  2.40273843,  2.40316671,  2.88919186,  3.4413962 ,
        2.70367142,  2.90830698,  1.51175983,  3.00823847,  1.85013484,
        3.18957163,  1.52264741,  2.94836149,  3.18838815,  2.73346287,
        2.42319391,  2.40273843,  3.30710615,  1.52300584,  2.40417494,
        3.01176584,  2.31334663,  3.31033404,  3.32696347,  2.42058821,
        2.7009807 ,  1.7133363 ,  2.41061332,  2.73486832,  3.71770648,
        2.972265  ,  2.89403439,  3.80125169,  2.40440457,  2.59383662,
        2.68514176,  2.97282765,  3.77147748,  2.98237837,  3.44151413,
        2.74495437,  3.00845612,  2.42235328,  3.79904944,  2.86692049,
        2.68420724,  1.52115856,  3.19602728,  2.39759435,  2.42066736,
        1.71609266,  2.97232436,  3.0095803 ,  1.88102887,  3.40000775,
        2.59219067,  2.73383061,  3.3419326 ,  2.9903385 ,  3.44135198,
        2.9039694 ,  3.00551299,  2.7436632 ,  2.972265  ,  2.89566899,
        1.52352722,  2.91528183,  3.08862389,  3.54761096,  2.989368  ,
        3.80619341,  3.19817018,  3.37243106,  2.97242329,  3.33800287,
        3.34750046,  1.88005091,  2.63245636,  3.19693232,  2.73438305,
        3.76899435,  3.10067217,  3.00827804,  3.34302501,  2.73460763,
        3.40301839,  2.73598824,  3.39960491,  2.93292156,  2.74249993,
        2.70959421,  3.51142491,  3.01146755,  2.63191243,  2.89362265,
        1.88102887,  2.70959421,  2.78786056,  3.44135198,  2.4028711 ,
        2.70073093,  2.59202347,  2.98034915,  2.89382517,  1.52124275,
        3.80067986,  3.204697  ,  1.51966971,  1.51022132,  3.30885064,
        1.88025343,  3.80126643,  2.68417775,  2.73334494,  1.52265206,
        3.5253536 ,  3.44183843,  1.88003617,  1.52124275,  2.972265  ,
        2.69549403,  3.08952833,  2.94413515,  3.13828582,  2.972265  ,
        3.33855689,  2.6061551 ,  3.00824856,  2.97281388,  3.30692421,
        2.40457176,  2.73647044,  2.41400453,  2.31368804,  2.42044971,
        2.61210171,  2.74904217,  2.40444028,  2.56006539,  2.972265  ,
        3.0103317 ,  2.4029363 ,  2.81373639,  1.88099434,  3.19052293,
        1.42746985,  1.52277503,  3.44151413,  2.73484507,  1.8847355 ,
        1.52264741,  2.70244594,  2.59435998,  2.59243701,  2.42048928,
        3.50785373,  3.33837377,  3.08965595,  3.51048771])

In [1015]:
r_squared = metrics.r2_score(y_test, y_pred)
r_squared

0.3843454526551413

In [1016]:
mae = metrics.mean_absolute_error(y_test, y_pred)
mae

0.5594932840838895

Notes:
-On average, guesses were around ~0.56 grade points off, which is the range of an 'a-' to a 'b+

# Using the model to predict Spring 2021 Grades

In [1017]:
new_df = pd.read_csv('data/grades_spring_2021.csv')

In [1018]:
new_df.rename(columns = {'NBR': 'Course Number', 'W': 'Withdrawal', 'INC/NA': 'INC/NO GRADE', 'TOTAL': 'TOTAL ENROLLED'}, inplace =True)
new_df.columns = new_df.columns.str.replace(' ', '_').str.lower()
new_df['inc/no_grade'] = new_df['inc/no_grade'] + new_df['nc']

print(new_df.columns)

for i in possible_grades: #converting values from object to integer 
    new_df[i] = new_df[i].astype(int)

average_calc(new_df)

Index(['term', 'subject', 'course_number', 'course_name', 'section', 'prof',
       'total_enrolled', 'a+', 'a', 'a-', 'b+', 'b', 'b-', 'c+', 'c', 'p',
       'c-', 'd', 'nc', 'f', 'withdrawal', 'inc/no_grade', 'avg_gpa',
       'unnamed:_23', 'unnamed:_24'],
      dtype='object')

In [1019]:
new_df['writing_intensive'] = new_df['course_number'].apply(writing_intensive)
new_df['honors'] = new_df['course_number'].apply(honors)
new_df['class_num'] = new_df['course_number'].apply(pure_number)

new_df.head()

,term,subject,course_number,course_name,section,prof,total_enrolled,a+,a,a-,...,withdrawal,inc/no_grade,avg_gpa,unnamed:_23,unnamed:_24,actual_average,reasonably_passing,writing_intensive,honors,class_num
0,Spring 2021,ACCT,101,Intro Thry & Prac of Acct I,10,"SOLARSH, E",54,16,14,9,...,5,0,3.802174,NaN,NaN,3.238889,1,False,False,101
1,Spring 2021,ACCT,101,Intro Thry & Prac of Acct I,4,"FEISULLIN, A",52,12,17,6,...,3,3,3.704348,NaN,lol,3.276923,1,False,False,101
2,Spring 2021,ACCT,101,Intro Thry & Prac of Acct I,8,"SOLARSH, E",55,23,13,5,...,0,0,3.620755,NaN,NaN,3.489091,1,False,False,101
3,Spring 2021,ACCT,101,Intro Thry & Prac of Acct I,11,"CHAN, J",55,0,25,10,...,3,0,3.613725,NaN,NaN,3.350909,1,False,False,101
4,Spring 2021,ACCT,101,Intro Thry & Prac of Acct I,5,"FEISULLIN, A",35,11,3,0,...,4,2,3.477778,NaN,NaN,2.682857,1,False,False,101

In [1020]:
new_df = pd.get_dummies(new_df, columns = ['subject'], drop_first = True)
spring_X = new_df[selected_features]

spring_pred = model.predict(spring_X)
new_df['predictions'] = spring_pred

new_df[['actual_average', 'predictions']]

      actual_average  predictions
0           3.238889     2.944395
1           3.276923     2.944435
2           3.489091     2.944376
3           3.350909     2.944376
4           2.682857     2.944771
...              ...          ...
2481        3.206250     2.342215
2482        3.371429     2.342146
2483        3.026923     2.905661
2484        3.270370     2.821592
2485        3.324000     2.823106

[2486 rows x 2 columns]

In [1021]:
mae = metrics.mean_absolute_error(new_df['actual_average'], spring_pred)
mae

0.5545210549925857

In [1022]:
r_squared = metrics.r2_score(new_df['actual_average'], spring_pred)
r_squared

0.42722239571262366